<div class='page-header'>
  <h1>Objectives</h1>
</div>

<ul id='objectives' data-update-url='<%= sort_objectives_url %>'>
  <% @objectives.each do |objective| %>
    <%= content_tag_for :li, objective do %>
      <%= objective.title %>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Objective", new_objective_path, role: 'button', class: 'btn btn-primary', 'data-toggle' => 'modal', 'data-target' => '#modal-form' %>
