<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="modalLabel">New Objective</h3>
</div>

<%= form_for @objective do |f| %>
  <div class="modal-inner-body">
    <%= f.text_field :title, placeholder: 'Title' %>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
