/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#modal-form .modal-body { padding: 0px !important; }
#modal-form .modal-inner-body { padding: 15px; }
#modal-form form { margin: 0; }
#modal-form input[type=text] { width: 510px; }
.dropdown-menu { z-index: 1200 !important; }

ul { list-style-type: none; margin: 30px 0 !important; }

.name-container { margin-bottom: 5px; }
.name-container h3 { margin: 0; line-height: 1em; }

.objective a:hover { text-decoration: none; }
.objective { margin-bottom: 0.5em; }
.objective i { position: relative; top: 1px; color: gray; }
.objective i:hover { color: red; }
.objective span.objective-title { cursor: move; }

.person i { font-size: 0.5em; color: gray; }
.person i.icon-edit:hover { color: blue; }
.person i.icon-trash:hover { color: red; }
.person a:hover { text-decoration: none; }

.todo { cursor: pointer; }
