/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

i.icon-edit:hover { color: blue; }
i.icon-trash:hover { color: red; }

#modal-form .modal-body { padding: 0px !important; }
#modal-form .modal-inner-body { padding: 15px; }
#modal-form form { margin: 0; }
#modal-form input[type=text] { width: 510px; }
.dropdown-menu { z-index: 1200 !important; }

ul { list-style-type: none; margin: 30px 0 !important; }

.name-container { margin-bottom: 5px; }
.name-container h3 { margin: 0; line-height: 1em; }

.objective a:hover { text-decoration: none; }
.objective i { color: gray; font-size: 0.6em; }
.objective { cursor: move; }
.objective h3 { margin-bottom: 0 !important; }
.objective h6 { display: inline; }
.objective p { display: inline; font-size: 12px; }

#hire-dates ul.unstyled { margin: 16px 0 !important; padding: 0 !important; }

.person small { margin-right: 3px; }
.person i { font-size: 0.5em; color: gray; width: 1em !important; }
.person a:hover { text-decoration: none; }

.todo { cursor: pointer; }
